

section.fondo-frio{
	background-image: url('../img/refrigeracion-modular/title-friolatina.jpg');
}

section.titulo h1{
	color: #FFF;
    font-size: 50px;
    margin-bottom: 10px;
	display: inline-block;
}

section.titulo h2{
	color: #FFF;
	font-size: 18px;
}
section.titulo .marca{
	display: inline-block;
	margin-top: -25px;
	margin-left: 40px;
	border-radius: 5px;
}

section.informacion{
	padding-top: 70px!important;	
	font-family: 'Montserrat', sans-serif;	
}
section.informacion .bloque{	
	margin-bottom: 70px;
}

section.informacion .imagen{	
	margin-right: 50px;
	max-width: 30%;
}

section.informacion .texto{
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;	
	max-width: 60%;	
}

section.informacion .texto .titulo{
	font-weight: normal;
	font-size: 30px;	
	margin-bottom: 5px;	
}
section.informacion .texto .subtitulo{
	font-size: 18px;	
	margin-bottom: 10px;
	font-weight: 500;	
}
section.informacion .texto .titulo-segundo{
	font-size: 18px;	
	margin-bottom: 10px;
}



/*....................  Resposive Media Styles  .......................*/

@media (max-width: 1650px) {

	section.productos{
	}
	section.productos .producto{
		height: auto;
	}
	section.productos .fondo2{
	}
	section.productos .producto .imagen{
		width: 49%;
	}
	section.productos .producto .imagen img{
	}
	section.productos .producto .inverso-imagen{
		width: 49%;
	}
	section.productos .producto .informacion{
		padding-top: 25px; 
		font-size: 13px;
	}
	section.productos .producto  .inverso-informacion{
		padding-top: 25px; 
		font-size: 13px;
	}
	section.productos .producto .informacion .texto{
		padding-top: 10px; 
	}
	section.productos .producto .informacion .lista{
		padding-top: 10px; 
	}

	section.productos .producto .informacion .lista p{
		margin: 2px 0;
		font-size: 13px;
	}
	section.productos .producto .informacion .ver-mas{
		font-size: 15px;
	}
}

@media only screen and (min-width: 1100px) and (max-width: 1400px) {
	section.productos .producto .imagen{
		width: 52%;
	}
	section.productos .producto .inverso-imagen{
		width: 52%;
	}
	section.productos .producto .informacion .ver-mas{
		margin-top: 10px;
		font-size: 15px;
	}
}


/* Medium Device : 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	section.productos .producto .imagen{
		top: auto;
	}
	section.productos .producto .inverso-imagen{
		top: auto;
	}
}

/* Tablet : 768px. */

@media only screen and (max-width: 991px) {	

	section.titulo{
		background-size: auto 150%;
		background-position: center bottom;
		padding: 15px 0;
	}

	section.titulo h1{
		width: 100%;
		font-size: 30px;
		margin-bottom: 10px;
	}
	
	section.titulo h2{
		font-size: 16px;
		margin-top: 0px;
	}
	section.titulo .marca{
		margin-top: 0px;
		margin-left: 10px;
		width: 100px;
	}	
	
	.portada .producto{
		width: 49%;
		margin-top: 0;
	}

	section.productos .producto .imagen{
		position: unset;
		float: left;
		width: 100%;
	}
	section.productos .producto .inverso-imagen{
		position: unset;
		float: left;
		width: 100%;
	}
	section.productos .producto .informacion{
		float: left;
		width: 100%;
		text-align: center;
	}
	section.productos .producto  .inverso-informacion{
		float: left;
		width: 100%;
	}
	section.productos .producto .informacion .texto{
		padding-top: 35px; 
		font-size: 14px; 
	}
	section.productos .producto .informacion .lista{
		padding-top: 15px; 
		font-size: 14px; 
		width: 100%;
		float: left;
		text-align: justify;
	}
	
	section.productos .producto .informacion .lista p{
		font-size: 14px; 
		margin: 5px 0;
	}
	section.productos .producto .informacion .ver-mas{
		display: inline-block;
	}

}

/* Large Mobile : 480px. */

@media only screen and (max-width: 767px) {
	
	section.informacion .imagen{	
		margin: 0 25%;
		width: 50%;
	}

	section.informacion .texto{
		margin-top: 50px;
		font-family: 'Montserrat', sans-serif;	
		max-width: 100%;	
	}
}

/* Small Mobile : 320px. */

@media only screen and (max-width: 479px) {
	.portada{
		background-size: auto 100%; 
	}
	.portada .producto{
		width: 49%;
		padding: 0x 15%;  
		margin-bottom: 0px;
		padding-bottom: 15px;
	}
	.sombreado{
		/* background-color: rgba(0, 0, 0, 0.061); */
	}
	.ventajas .ventaja{
		width: 40%;
		margin: 0 4.5%;
	}
	.ventajas  .ventaja-muros{
		margin-bottom: 0px;
	}
	.ventajas  .ventaja-muros .texto{
		margin-bottom: 40px;
	}
}